---
---

@import "{{ site.theme }}";

header {
    border-bottom: none;
}

header h1:before {

}

header h1 {
    padding-left: 37px;
    font-size: 22px;
    font-weight: 300;
}

header h2 {
    font-size: 12px;
    font-weight: 300;
}

header h1, 
h1,
h2,
h3,
h4 {
   color: #6ec711;
}

a {
   color: #e60707b5;
}

ul li {
    list-style-image: none;
    list-style-type: disc;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid #303030;
    color: #303030;
    margin-top: 30px;
}

#main_content {
    width: 65%;
}

#main_content h2 {
    margin-top: 40px;
    font-size: 20px;
}

#main_content h3 {
    margin-top: 22px;
    margin-bottom: 0px;
    font-size: 18px;
}

code.highlighter-rouge {
    background: none;
    border: none;
    padding: 1px 2px;
    margin: 0px -3px;
    color: #6ec711;
}

img {
    -webkit-box-shadow: 0px 0px 30px 4px rgba(240, 240, 240, 0.6);
    -moz-box-shadow: 0px 0px 30px 4px rgba(240, 240, 240, 0.6);
    box-shadow: 0px 0px 30px 4px rgba(240, 240, 240, 0.6);
    border-radius: 6px;
    margin: 30px 0 20px 0;
}

blockquote {
    color: #ecddddbf;
    font-style: italic;
    padding-left: 0px;
    border-left: none;
}